body,html
{
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    height: 100%;
    width: 100%; 
    background: url("images/body.gif");   
}

::-webkit-scrollbar{
        display: none;
}
.main
{  
    width: 100%;
    margin: auto;
}
.navbar
{
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left:-10px;
    height: 60px;
    position: fixed;
    z-index: 99;
    width:100%;
    background-color: rgb(5, 1, 27);
   
}
.logo
{
    color: #f2a223;
    font-weight: bolder;
    font-size: 30px;
    
}
.logo2
{
    color: red;
    font-weight: bolder;
    font-size: 30px;
}
.nav-item 
{
    z-index: 2;   
}
.nav-item .nav-link span
{
   color: #fff;
   font-weight: bolder;
   font-size: larger;
   position: relative;
   top:6px;
   padding-left: 20px;
   padding-right: 20px;
   
}
.nav-item .nav-link span:hover
{
    text-decoration:underline;
    color: #f2a223;
}
.content
{
    margin-top: 3.1rem;
}

.form-control
{
    width: 300px;
    z-index: 2;
}
.acc
{
    margin-top: -23px;
    font-weight: bolder;   
}
#bbtn
{
    z-index: 4;
}
.dropdown-menu
{
    transform: translate(-35px);
}
.carousel-inner
{
    height: 87.5vh;
}

.b
{
    margin-top: 12px;
    border-bottom: 2px dashed #666; 
}
.sec
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sec img{
    border-radius: 6px;
    width: 19%;
    cursor: pointer;
    transition: linear .3s;
}
.sec img:hover
{
    transform: scale(107%);
   
}
.vid h5
{
   color: #f2a223;
}

  .review
  {
      color: #f2a223;
      font-size: 14px;  
  }
.box
{
    display: flex;
    justify-content: space-between;
    padding-top:15px;

}
.left h3 a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.right
{
    height: inherit;
    width: 50%;
    color: #fff;
    
}
.left
{
    height: inherit;
    width: 50%;
    color: #fff;
}
.cntx .date
{
    color: #666;
}
.cntx h4
{
    color:#f2a223;
}
.right
{
    padding-left: 35px;
}
footer
{
    text-align: center;
    height: 10vh;
    color: #f2a223;
    margin: auto;
}
.follow
{
    display: flex;
    justify-content:center;
}
.follow img
{
    padding-left: 10px;
    padding-right: 10px;
}
.follow img:hover
{
    transform: scale(130%);
    cursor: pointer;
}
.abc
{
    z-index:-1;   
}
.cntx a{
    cursor: pointer;
}
@media screen and (max-width:768px)
{
    .carousel-inner
    {
        height: inherit;
    }
    .container-fluid{
        margin-top: -30px;
    }
    .review{
        font-size:xx-small;
    }
   
    

}

@media screen  and (max-width:1000px)
{
   
   .srch
   {
    z-index:4;
    margin-top: -8px;
   }
   #search{
    width: 590px;
   }
   
   .nav-item
   {
    
    background-color:rgb(52, 49, 49);
    z-index: 3;
   }
   #bbtn
   {
    background-color: darkcyan;
    color: white;
    width: 80px;
    margin-left: -8px;
   }
   .bstn
   {
    margin-left: 20px;
   }
   .dropdown-menu{
    margin-left: 35px;
}
}
@media screen  and (min-width:380px) and (max-width:400px)
{
    .srch
    {
        width: 285px;
    }
    #search{
        width: 290px;
    }
   
   
}
@media screen  and (min-width:400px) and (max-width:520px)
{
    .srch
    {
        width: 290px;
    }
    #search{
        width: 310px;
       }

}

@media screen and (max-width:376px)
{
    .srch
    {
        width: 250px;
    }
    #search{
        width: 272px;
       }
   

}
